.aside-menu-container {
    display: none;
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    background-color: rgba($color: #ffffff, $alpha: 0.96);
    transition: background-color .15s ease;
}

.aside-menu {
    position: absolute;
    left: 0;
    width: 320px;
    height: 100vh;
    z-index: 3;
    background-color: #FFFFFF;

    @media screen and (min-width: 360px) {
        width: 360px;
    }

    @media screen and (min-width: 768px) {
        box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    }
}

.sidebar {
    font-family: 'TT Lakes Regular';
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    height: 100vh;

    background-color: rgb(244, 244, 244);
}

.header-menu {
    width: calc(100% - 32px);
    margin: 0 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-one {
    display: flex;
    width: 178px;
    height: 89px;
    align-items: center;
    justify-content: flex-start;
    gap: 17px;
}

.box-two {
    align-self: center;
}

.divider {
    position: absolute;
    left: 0;
    top: 88px;

}

.main-menu {
    width: 223px;
    height: 285px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    &__element {
        padding-left: 24px;
    }


    &__button {
        border: none;
        outline: none;
        background-color: transparent;
        border: 1px solid transparent;
        text-align: left;
        cursor: pointer;

        &:focus {
            color: #7E7E82;
        }
    }

}

.footer {
    position: absolute;
    bottom: 32px;
    left: 24px;
    width: 223px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;

    &__icons {
        display: flex;
        justify-content: flex-start;
        gap: 16px;

    }



    &__number {
        font-family: 'TT Lakes Bold';
        font-size: 24px;

        a {
            text-decoration: none;
            color: #1B1C21;

            &:focus {
                outline-width: 0 0 1px 0;
                outline-color: rgb(191, 191, 191);
            }
        }
    }

    &__email {

        a {
            text-decoration: none;
            color: #1B1C21;

            &:focus {
                outline-width: 0 0 1px 0;
                outline-color: rgb(191, 191, 191);
            }
        }
    }

    &__languages {
        display: flex;
        gap: 7px;
        margin-top: 24px;

        & button {
            font-family: $tt-medium;
            border: none;
            outline: none;
            background-color: transparent;
            border: 1px solid transparent;

            &:first-child {
                color: #7E7E82;
            }

            &:focus {
                color: #7E7E82;

            }
        }

    }
}



.button {
    border: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &:focus,
    :hover {
        opacity: 0.4;

        transition: all 0.5s ease;
    }
}