.service-price {

    margin-top: 1px;

    &__header {
        background: $bgcLinearGtoW;
        height: 80px;
        padding-left: 16px;
        display: flex;

        & h2 {
            font-size: 16px;
            font-weight: normal;
            color: $text-grey;
            align-self: center;
        }

        @media screen and (min-width: 768px) {
            padding-left: 24px;
        }

        @media screen and (min-width: 1366px) {
            padding-left: 32px;
        }
    }
}

.swiper-service-prise {

    width: calc(100vw - 16px);
    height: 258px;
    margin-left: 16px;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;

    @media screen and (min-width: 768px) {
        display: none;
    }



    &__element {
        width: 260px;
        height: 200px;
        cursor: pointer;

        background-color: white;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        padding: 16px;
        padding-bottom: 20px;
        margin-top: 16px;
    }

    &__list {
        margin-bottom: 24px;
    }
}

.table {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;



    & h3 {
        font-size: 16px;
        font-weight: normal;
        color: $text-grey;
        margin-bottom: 4px;
    }

    &__order {
        position: absolute;
        right: 12px;
        bottom: 16px;
    }
}