.footer-layout {
    background-color: #F8F8F8;

    @media screen and (min-width: 768px) {
        margin-left: 24px;
    }

    @media screen and (min-width: 1366px) {
        margin-left: 32px;

    }
}

.footer-top-section {
    margin: 0 16px 50px 16px;

    & p {
        margin-bottom: 16px;
    }

    &__button {
        display: flex;
        justify-content: flex-start;

        & p {
            text-align: left;
            align-self: center;
            font-family: $tt-medium;

            & img {
                margin-bottom: -10px;
            }
        }
    }
}

.footer-bottom-section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    text-align: center;
    color: #7E7E82;
    font-size: 14px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
        margin-right: 24px;
        margin-bottom: 24px;
    }

    @media screen and (min-width: 1366px) {

        margin-bottom: 50px;
    }


    &__info {

        @media screen and (min-width: 768px) {
            width: 31vw;
            text-align: left;
        }
    }

    &__politice {

        @media screen and (min-width: 768px) {
            width: 31vw;
            text-align: left;

        }
    }

    &__offer {

        @media screen and (min-width: 768px) {
            width: 31vw;
            text-align: right;

        }
    }
}