@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "header";
@import "main-content";
@import "./footer/footer";

*,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  outline: 1px solid red;
}

body {
  font-family: $tt-regular;
}


a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}