@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "header";
@import "main-content";
@import "./footer/footer";

*,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  // outline: 1px solid red;
}

body {
  font-family: $tt-regular;
}


a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  }
}

.main-wrapper {

  @media screen and (min-width: 1366px) {
    margin-left: 306px;

  }
}